*
{
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

html,
body
{
    overflow: hidden;
    height: 100%;
    width: 100%;
    font-family: Helvetica, sans-serif;
}

h2 {
    font-size: 2rem;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.webgl-container {
    position: relative;
    height: 85%;
}

.block {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: white;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

canvas {
    z-index: 1;
}

#app-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    z-index: 2;
    justify-content: flex-end;
    align-items: center;
    pointer-events: none;
}

.button-control {
    position: relative;
    display: flex;
    padding: 1rem;
    background: white;
    border-radius: 20px;
    z-index: 3;
    width: 12rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.75rem;
}

.button-control strong {
    color: #0a1ac7;
}

.button-control img {
    pointer-events: all;
}

.pointer {
    cursor: pointer;
}

.divider {
    height: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 26%;
    background-color: white;
    opacity: 0;
}

.white {
    color: white;
}

.text-content {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    justify-content: center;
    opacity: 0;
}

#text-header {
    max-width: 25%;
    opacity: 0;
}

#text-paragraph {
    max-width: 25%;
    opacity: 0;
}

@media (max-height: 428px) and (orientation: landscape) {
    .button-control {
        margin-bottom: 1rem;
    }
}
